.product-card-static-3column {
    transition-duration: .5s;
    height: 400px;
    cursor: pointer;
    border-radius:20px;
    border: none;
    overflow-y: hidden;
}

.product-card-static-3column .card-body {
    transition-duration: .5s;
    position: absolute;
    bottom: 0px;
    background-color: #ffffff;
    width: 100%;
}

.product-card-static-3column:hover {
    transform: scale(0.9);
}

.product-card-static-3column .card-img-top {
    border-radius: 20px 20px;
    object-fit: cover;    
}

.product-card-static-3column:hover .card-img-top {
    filter: blur(2px);
}
 
.product-card-static-3column .card-body .card-text {
    font-size: 0.8rem;
    text-overflow: ellipsis;
}