
.hero-left{
    width: 40%;
    padding: 150px 50px 90px 100px;
}

.title-hero{
    font-family: 'Roboto', sans-serif;
    line-height: 60px;
    font-size: 3rem;
}

.title-content {
    font-size: 1rem;
}


.hero-right {
    width: 60%;
    background-image: linear-gradient(
        to right, rgba(0, 0, 0, 0), 
        rgba(0, 0, 0, 0)), 
        url("../../assets/images/hero/bg6-comp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0px 100px; */
    border-radius: 0 0 0 60px;
    /* z-index: -99; */
}