.header-intro-inner {
    background-image: linear-gradient(to right, rgba(186, 203, 235, 0.8), rgba(62, 83, 153, 0.8)), url("https://images.unsplash.com/photo-1479839672679-a46483c0e7c8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=410&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 70vh;
    border-radius: 0 0 40px 40px;
    padding-top: 200px;
}