.section-title .section-title-text {
    font-size: 2.5rem;
}

.section-title .section-title-light {
    color: var(--bs-white);
}

.section-title .section-title-dark {
    color: var(--bs-gray-900);
}

.section-title .divider {
    width: 150px;
    height: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: var(--bs-warning);
}